<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <!-- {% if message %}
        <h2>{{ message }}</h2>
        {% endif %} -->

    <h2>Book Details: </h2>
    <ul>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>Year of Publish: {{ book.year }}</li>
        <li>ISBN: {{ book.isbn }}</li>

    </ul>
    <a name="book-list" type="submit" href="{{ url_for('books') }}"><button>Go Back to Books!</button></a>
    <a name="logout" type="submit" href="{{ url_for('logout') }}"><button>Logout</button></a>
</body>

</html>