<!DOCTYPE html>
<html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/books.css') }}">
</head>

<body>
  <div class="common-navbar">
    <nav class="navbar navbar-light bg-light">
      <a name="book-list" type="submit" href="{{ url_for('books') }}"><button class="btn btn-primary">Go Back to
          Books!</button></a>
      <a name="logout" type="submit" href="{{ url_for('logout') }}"><button
          class="btn btn-secondary">Logout</button></a>
  </div>
  
  <div class="container-fluid" id="book-details">
    <h2 id="book-title">{{ book.title }}</h2>
    <ul class="list-group">
      <li class="list-group-item">Author: {{ book.author }}</li>
      <li class="list-group-item">Year of Publish: {{ book.year }}</li>
      <li class="list-group-item">ISBN: {{ book.isbn }}</li>
      <li class="list-group-item" name="goodreads-rating">Average Rating on Goodreads: {{ data[0] }}</li>
      <li class="list-group-item" name="gr-ratings-count">Ratings Count on Goodreads: {{ data[1] }}</li>
    </ul>
    <br>
  </div>

  <div class="container-fluid">
    <div id="review-form">
      <form method="POST" id="review" action="{{ url_for('book', book_id=book.id) }}">
        <div class="row justify-content-md-center">
          <div class="col-md-2 form-group">
            <!-- Do not remove name of the tags as they are used in the app for fetching the fields -->
            <select class="custom-select form-control" name="rating">
              <option value="0" selected="selected">Select Rating..</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            {% if message %}
            <p> {{ message }}
              {% endif %}
          </div>
          <div class="col-md-8 form-group">
            <textarea class="form-control" type="text" name="review" placeholder="Your review.." required></textarea>
          </div>
          <div class="col-md-2 form-group">
            <button class="btn btn-info" type="submit" form="review" name="submit-review">Submit Review</button>
          </div>
        </div>
      </form>
      <br>
    </div>
  </div>
  <div class="container-fluid">
    <div id="reviews" class="col-sm-6">
      <h2>Reviews: </h2>
      {% if reviews %}
      <div class="review" name="reviews">
        {% for review in reviews %}
        <dl class="row col-lg-12">
          <!-- |capitalize - in order to capitalize any string on jinja2-->
          <dt class="col-lg-3">Reviewer </dt>
          <dd class="col-lg-9"> #{{ review.reviewer_id }}</dd>

          <dt class="col-lg-3 user-rating">Rating</dt>
          <dd class="col-lg-9">{{ review.rating }}</dd>

          <dt class="col-lg-3">Review</dt>
          <dd class="col-lg-9">
            <blockquote class="blockquote">
              <p>{{ review.review_comment }}</p>
            </blockquote>
          </dd>
        </dl>
        {% endfor %}
        {% else %}
        <dl class="row">
          <blockquote class="col-lg-12"> Book has received no reviews yet!</blockquote>
        </dl>
      </div>
      {% endif %}
      <br>
    </div>
  </div>

</body>

</html>