<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}"/>
</head>

<body>
  <div class="common-navbar">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">{{message}}</a>
      <form class="form-inline" action="{{ url_for('search') }}" method="GET">
        <input name=q class="form-control mr-sm-2" type="search" placeholder="Title, author or isbn" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a name="logout" type="submit" href="{{ url_for('logout') }}"><button>Logout</button></a>
    </nav>
  </div>
  <br>
  <div class="container-fluid">
    <ul class="list-group list-group-flush" id="books-list">
      <!-- Displays 14 random books from a list of 5000 -->
      {% for b in range(num, num+12) %}
        <li class="list-group-item"><a href="{{ url_for('book', book_id=books[b].id) }}">{{ books[b].title }}</a></li>
      {% endfor %}

    </ul>
  </div>
</body>

</html>
