<!DOCTYPE html>
<html>

<head>
  <title>Read The Book</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <div class="sidenav">
    <div class="login-main-text">
      <h2> Error!! </h2>
    </div>
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <a name="home" type="submit" href="{{ url_for('index') }}"><button type="button" id="home-button" class="btn btn-black">Home</button></a>
        <h2>{{ message }}</h2>
      </div>
    </div>
  </div>
</body>

</html>
