<!DOCTYPE html>
<html>

<head>
  <title>Read The Book</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <div class="sidenav">
    <div class="login-main-text">
      <h2> Welcome humans! </h2>
      <br>
      <h2> Read The Book </h2>
    </div>
  </div>
  <div class="main">
        <div class="form">
          <a name="login" type="submit" href="{{ url_for('login_page') }}"><button type="button" id="login-button" class="btn-black">Login</button></a>
        </div>
        <div class="form">
          <a name="register" type="submit" href="{{ url_for('register') }}"><button type="button" id="register-button" class="btn-black">Register</button></a>
        </div>
  </div>
</body>

</html>
